# python's cache
__pycache__/*
**/__pycache__/*

# hidden files
.*

# unignore gitignore
!.gitignore

# installed pip packages through github
src

# only allow notebooks in the notebooks/ folder
notebooks/**
!notebooks/*.ipynb

# we allow scripts and their configs, but not their outputs
bin/*
!bin/*.py 
!bin/*.json
!bin/raw2tiff
!bin/pystackreg

# we do not save the models (can be big)
models
models/**

# the data folder should be linked by the user
data

# logs folder
logs
logs/**

# pip installed package info dir
*.egg-info
=*
