# python's cache
__pycache__/*
**/__pycache__/*

# hidden files
.*

# unignore gitignore
!.gitignore

# installed pip packages through github
src

# only allow notebooks in the notebooks/ folder
notebooks/**
!notebooks/*.ipynb
