# python's cache
__pycache__/*
**/__pycache__/*

# hidden files
.*

# unignore gitignore
!.gitignore

# installed pip packages through github
src

# only allow notebooks in the notebooks/ folder
notebooks/**
!notebooks/*.ipynb

# we do not save voxelmorph's github repo
voxelmorph
voxelmorph/**

# we do not save the models (can be big)
models
models/**

# the data folder should be linked by the user
data
data/**
